<%- include("../partials/header.ejs") %>
</head>

<body>

    <%- include("../partials/nav.ejs") %>

    <div class="container text-center" style="margin-top: 100px;">
        <h1 class="mb-3">GAME HISTORY</h1>
        <a href="/api/v1/admin/game/<%= userId %>" class="btn btn-success mb-3">Play Again!</a>
        <a href="/api/v1/admin/dashboard/details/<%= userId %>" class="btn btn-primary mb-3">View Profile</a>
        <div class="row">

            <% games.forEach((game, i) => { %>
            <div class="col card text-dark bg-warning mb-3 me-5" style="max-width: 18rem;">
                <h3 class="card-title">Game <%= i+1 %></h3>
                <div class="card-body">
                    <h6 class="card-title"><%= game.updatedAt %></h6>
                    <h1 class="card-title"><%= game.score %> poin</h1>
                </div>
            </div>

            <% }) %>
        </div>

    </div>
    <%- include("../partials/footer.ejs") %>