<%- include("../partials/header.ejs") %>
</head>

<body>

    <%- include("../partials/nav.ejs") %>

    <div class="container">

        <h1>Dashboard</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>

                <tr>
                    <th scope="row"><%= user.id %></th>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><a href="/api/v1/admin/dashboard/details/<%= user.id %>"
                            class="btn btn-success badge rounded-pill">Detail</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/api/v1/admin/signup" class="btn btn-success" style="font-weight: 700; font-size: x-large;">CREATE
            USER</a>

    </div>
    <%- include("../partials/footer.ejs") %>