<%- include("../partials/header.ejs") %>
</head>

<body>

    <%- include("../partials/nav.ejs") %>

    <form action="/api/v1/admin/dashboard/update/<%= userId %>" method="POST" class="container col-3"
        style="margin-top: 100px;">
        <h1 class="mb-4">Edit Your Data!</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                value="<%= user.username %>" required />
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"
                value="<%= user.email %>" required />
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                value="<%= user.password %>" required />
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="firstName"
                value="<%= biodata.firstName %>" required />
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="lastName"
                value="<%= biodata.lastName %>" required />
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nationality" id="password" placeholder="nationality"
                value="<%= biodata.nationality %>" required />
            <label for="floatingInput">Nationality</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="hobby" id="password" placeholder="hobby"
                value="<%= biodata.hobby %>" required />
            <label for="floatingInput">Hobby</label>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Update Data</button>
    </form>
    <%- include("../partials/footer.ejs") %>